<!DOCTYPE html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Time Log</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a href="#" class="navbar-brand">Time Log</a>
            <form class="form-inline ml-auto">
                    <a href="#" class="btn btn-secondary ml-2">Log In</a>
                    <a href="#" class="btn btn-success ml-4">Create Class</a>
            </form>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>