{% extends 'base.html' %}

{% block content %}
    <h3>Classes {% if classes %}<small class="text-muted">({{ classes|length }} Class{{ classes|length|pluralize:"es" }})</small>{% endif %}</h3>
    {% if classes %}
        <div class="card-columns">
            {% for s_class in  classes %}
                {% include "partials/card.html" %}
            {% endfor %}
        </div>
    {% else %}
    <div class="alert alert-primary" role="alert">No Classes Available.</div>
    {% endif %}
{% endblock %}